// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Quicksand:400italic,700italic,400,700);

/*VARIABLES*/
// Font 
$subHeading: 'Roboto Slab', serif;   
$heading: 'Quicksand', sans-serif;
// colours
$bodyBackgrounColor: #ebebeb;
$darkGrey: #707070;
$lightGrey: #A9A9A9;

// Mixin
@mixin imageDimensions($size){
  width: $size;
  height: $size;
}

body {
    background-color:$bodyBackgrounColor;
}

//Search bar 
#searchBar {
  padding: 50px;
}
/*CARD STYLING*/
.card {
    //Add shadows to create the "card" effect 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
  }
// On hover, add a deeper shadow
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

//Event Stlying
th, h5 {
    color: $darkGrey;
    font-family: $heading;
  }
.url,td {
    color:$lightGrey;
    font-family: $subHeading;
}
tr.bordered {
    border-bottom: 1px solid $lightGrey;
    width: 95%;
}
//Profile Styling
.profileImage{
  @include imageDimensions(70px);
}
//Back to results
#backIcon{ 
  @include imageDimensions(15px);
  float: left;
  margin-top: 5px;
  margin-right: 10px;

}
#back{
  display: none;
  margin: 30px;
}

//Responsiveness on small screens
@media (max-width: 300px) { 
  td {
   font-size: 12px;
  }
  h5,th{
    font-size: 15px;
  }
}



