// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Quicksand:400italic,700italic,400,700);

/*VARIABLES*/
// Font 
$subHeading: 'Roboto Slab', serif;   
$heading: 'Quicksand', sans-serif;
// colours
$bodyBackgrounColor: #ebebeb;
$darkGrey: #A0A0A0;
$lightGrey: #C0C0C0;

//screen sizes
$small: 576px;
$medium: 768px;
$large: 992;

body {
    background-color:$bodyBackgrounColor;
}

//Search bar 
#searchBar {
  padding: 50px;
}
/*CARD STYLING*/
.card {
    //Add shadows to create the "card" effect 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
  }
// On hover, add a deeper shadow
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

//Event table styling
th, h5 {
    color: $darkGrey;
    font-family: $heading;
  }
#url,td {
    color:$lightGrey;
    font-family: $subHeading;
}
tr.bordered {
    border-bottom: 1px solid $lightGrey;
    width: 95%;
}

@media (min-width: 768px) and (max-width: 950px) {

}
@media (max-width: $small) {

}
